In [29]:
import numpy as np
import pandas as pd
from datetime import datetime
from typing import Optional, Union

# --> Transformaciones

#### Dataset de Amazon

In [2]:
# Traigo y veo la base de Amazon
amazon_prime = pd.read_csv("./Datasets/amazon_prime_titles.csv")
amazon_prime.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [3]:
# Agrego una columna para informar la plataforma
amazon_prime["platform"] = "Amazon"

In [444]:
# Veo como quedo
amazon_prime.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon

#### Dataset de Disney Plus

In [4]:
# Traigo y veo la base de Disney Plus
disney_plus = pd.read_csv("./Datasets/disney_plus_titles.csv")
disney_plus.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [5]:
# Agrego una columna para informar la plataforma
disney_plus["platform"] = "Disney"

In [447]:
# Veo como quedo
disney_plus.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,Disney
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,Disney
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,Disney
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",Disney
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,Disney

#### Dataset de Hulu

In [6]:
# Traigo y veo la base de Hulu
hulu = pd.read_csv("./Datasets/hulu_titles.csv")
hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [7]:
# Agrego una columna para informar la plataforma
hulu["platform"] = "Hulu"

In [450]:
# Veo como quedo
hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,Hulu
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",Hulu
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,Hulu
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,Hulu
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,Hulu

#### Dataset de Netflix

In [8]:
# Traigo y veo la base de Netflix
netflix = pd.read_csv("./Datasets/netflix_titles.csv")
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [9]:
# Agrego una columna para informar la plataforma
netflix['platform'] = 'Netflix'

In [453]:
# Veo como quedo
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix

#### Ahora trabajo los datasets en conjunto para optimizar el uso de codigo

In [10]:
# Concateno los 4 datasets
df_unico = pd.concat([amazon_prime,disney_plus,hulu,netflix],ignore_index=True)

In [11]:
# Elimino las columnas que no voy a necesitar
df_unico = df_unico.drop(columns=["director", "country"])

In [12]:
# Veo como quedo
df_unico.head()

,show_id,type,title,cast,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent","March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon
1,s2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar","March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon
2,s3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...","March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon
3,s4,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...","March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon
4,s5,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...","March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon

In [13]:
# Verifico que en el string de los titulos no haya espacios.
df_unico.columns

Index(['show_id', 'type', 'title', 'cast', 'date_added', 'release_year',
       'rating', 'duration', 'listed_in', 'description', 'platform'],
      dtype='object')

In [14]:
# Verifico que la columna "release_year" tenga solo valores validos, ya que sera de consulta.
np.unique(df_unico["release_year"])

array([1920, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931,
       1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942,
       1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953,
       1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964,
       1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021])

In [15]:
# Veo info de las columnas.
df_unico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   cast          17677 non-null  object
 4   date_added    13444 non-null  object
 5   release_year  22998 non-null  int64
 6   rating        22134 non-null  object
 7   duration      22516 non-null  object
 8   listed_in     22998 non-null  object
 9   description   22994 non-null  object
 10  platform      22998 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.9+ MB

In [16]:
# Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id 
# ya presente en los datasets (ejemplo para títulos de Amazon = as123)

for i in range(len(df_unico)):
    palabra = df_unico.at[i, "platform"]
    letra = palabra[0]
    df_unico.at[i, "show_id"] = letra + df_unico.at[i, "show_id"]

In [17]:
# Veo como quedo
df_unico.head()

,show_id,type,title,cast,date_added,release_year,rating,duration,listed_in,description,platform
0,As1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent","March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon
1,As2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar","March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon
2,As3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...","March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon
3,As4,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...","March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon
4,As5,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...","March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon

In [18]:
# Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity 
# rating: “general for all audiences”).
df_unico["rating"].fillna("G", inplace=True)


# Con firmo que no quedaron valores nulos.
df_unico["rating"].isnull().value_counts()

False    22998
Name: rating, dtype: int64

In [19]:
# De haber fechas, deberán tener el formato AAAA-mm-dd.
df_unico['date_added'] = pd.to_datetime(df_unico['date_added'], infer_datetime_format=True)
df_unico.head()

,show_id,type,title,cast,date_added,release_year,rating,duration,listed_in,description,platform
0,As1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon
1,As2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon
2,As3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2021-03-30,2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon
3,As4,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2021-03-30,2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon
4,As5,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",2021-03-30,1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon

In [20]:
# Los campos de texto deberán estar en minúsculas, sin excepciones.
# Me parecio no tener sentido armar una funcion con una linea, por lo que ejecuto las columnas de a una.
df_unico["show_id"] = df_unico["show_id"].str.lower()
df_unico["type"] = df_unico["type"].str.lower()
df_unico["title"] = df_unico["title"].str.lower()
df_unico["cast"] = df_unico["cast"].str.lower()
df_unico["rating"] = df_unico["rating"].str.lower()
df_unico["listed_in"] = df_unico["listed_in"].str.lower()
df_unico["description"] = df_unico["description"].str.lower()
df_unico["platform"] = df_unico["platform"].str.lower()

df_unico.head()

,show_id,type,title,cast,date_added,release_year,rating,duration,listed_in,description,platform
0,as1,movie,the grand seduction,"brendan gleeson, taylor kitsch, gordon pinsent",2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon
1,as2,movie,take care good night,"mahesh manjrekar, abhay mahajan, sachin khedekar",2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,amazon
2,as3,movie,secrets of deception,"tom sizemore, lorenzo lamas, robert lasardo, r...",2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,amazon
3,as4,movie,pink: staying true,"interviews with: pink, adele, beyoncé, britney...",2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",amazon
4,as5,movie,monster maker,"harry dean stanton, kieran o'brien, george cos...",2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,amazon

In [21]:
# La columna "duration" debe convertirse en dos: "duration_int" y "duration_type". La primera debera ser un integer 
# y la segunda un string, indicando la unidad de medición de duración: min (minutos) o season (temporadas).


# Completo los nulos de la columna con 0 para que despues no me devuelvan error.
df_unico["duration"].fillna("0", inplace=True)


# Genero las 2 columnas requeridas.
df_unico.insert(loc = 8, column = "duration_int", value=0)
df_unico.insert(loc = 9, column = "duration_type", value="sin dato")


# Realizo los cambios: los numeros van a una columna (que quedara como entero) y las palabras van a otra.
for i in range(len(df_unico)):
    if df_unico.at[i, "duration"] != "0":
        campo = df_unico.at[i, "duration"]
        div = campo.split(" ")
        divint = int(div[0])
        
        df_unico.at[i, "duration_int"] = divint
        df_unico.at[i, "duration_type"] = div[1]


# Una vez finalizado y considerando que no hubo errores, elimino la columna original.
df_unico.drop(["duration"], axis=1, inplace=True)

In [22]:
# Verifico que la columna "duration_int" quedo como tipo int64
df_unico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   cast           17677 non-null  object
 4   date_added     13444 non-null  datetime64[ns]
 5   release_year   22998 non-null  int64
 6   rating         22998 non-null  object
 7   duration_int   22998 non-null  int64
 8   duration_type  22998 non-null  object
 9   listed_in      22998 non-null  object
 10  description    22994 non-null  object
 11  platform       22998 non-null  object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 2.1+ MB

In [23]:
# Reviso que los datos quedaron distribuidos como se pidio
df_unico.head(10)

,show_id,type,title,cast,date_added,release_year,rating,duration_int,duration_type,listed_in,description,platform
0,as1,movie,the grand seduction,"brendan gleeson, taylor kitsch, gordon pinsent",2021-03-30,2014,g,113,min,"comedy, drama",a small fishing village must procure a local d...,amazon
1,as2,movie,take care good night,"mahesh manjrekar, abhay mahajan, sachin khedekar",2021-03-30,2018,13+,110,min,"drama, international",a metro family decides to fight a cyber crimin...,amazon
2,as3,movie,secrets of deception,"tom sizemore, lorenzo lamas, robert lasardo, r...",2021-03-30,2017,g,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,amazon
3,as4,movie,pink: staying true,"interviews with: pink, adele, beyoncé, britney...",2021-03-30,2014,g,69,min,documentary,"pink breaks the mold once again, bringing her ...",amazon
4,as5,movie,monster maker,"harry dean stanton, kieran o'brien, george cos...",2021-03-30,1989,g,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...,amazon
5,as6,movie,living with dinosaurs,"gregory chisholm, juliet stevenson, brian hens...",2021-03-30,1989,g,52,min,"fantasy, kids",the story unfolds in a an english seaside town...,amazon
6,as7,movie,hired gun,"alice cooper, liberty devitto, ray parker jr.,...",2021-03-30,2017,g,98,min,"documentary, special interest","they are the ""first call, a-list"" musicians, j...",amazon
7,as8,movie,grease live!,"julianne hough, aaron tveit, vanessa hudgens, ...",2021-03-30,2016,g,131,min,comedy,"this honest, uncompromising comedy chronicles ...",amazon
8,as9,movie,global meltdown,"michael paré, leanne khol young, patrick j. ma...",2021-03-30,2017,g,87,min,"action, science fiction, suspense",a helicopter pilot and an environmental scient...,amazon
9,as10,movie,david's mother,"kirstie alley, sam waterston, stockard channing",2021-04-01,1994,g,92,min,drama,sally goodson is a devoted mother to her autis...,amazon

In [24]:
# Realizo una consulta al azar para ver los datos.
df_unico.iloc[2555]

show_id                                                     as2556
type                                                         movie
title                                                emma's chance
cast             greer grammer, missi pyle, joey lawrence, chri...
date_added                                                     NaT
release_year                                                  2016
rating                                                         all
duration_int                                                    93
duration_type                                                  min
listed_in                                            drama, sports
description      while fulfilling her community service hours a...
platform                                                    amazon
Name: 2555, dtype: object

# --> Desarrollo API

#### Preprocesamiento de los datos

In [25]:
# --> Trabajo con los actores.

# Reemplazo los datos faltantes de la columna para evitar errores posteriores.
df_unico["cast"].fillna("sin dato", inplace=True)


# Genero una nueva columna de trabajo.
df_unico.insert(loc = 4, column = "cast1", value="sin dato")


# Paso a los actores a listas, que luego las reinserto en el dataframe.
df_unico["cast1"] = df_unico["cast"].str.split("," or ":" or "|")
df_unico.drop(columns=["cast"],inplace=True)
df_unico.rename(columns={"cast1":"cast"},inplace=True)


# Chequo las listas en columna "cast".
df_unico.head

<bound method NDFrame.head of       show_id     type                 title  \
0         as1    movie   the grand seduction
1         as2    movie  take care good night
2         as3    movie  secrets of deception
3         as4    movie    pink: staying true
4         as5    movie         monster maker
...       ...      ...                   ...
22993  ns8803    movie                zodiac
22994  ns8804  tv show           zombie dumb
22995  ns8805    movie            zombieland
22996  ns8806    movie                  zoom
22997  ns8807    movie                zubaan

                                                    cast date_added  \
0      [brendan gleeson,  taylor kitsch,  gordon pins... 2021-03-30
1      [mahesh manjrekar,  abhay mahajan,  sachin khe... 2021-03-30
2      [tom sizemore,  lorenzo lamas,  robert lasardo... 2021-03-30
3      [interviews with: pink,  adele,  beyoncé,  bri... 2021-03-30
4      [harry dean stanton,  kieran o'brien,  george ... 2021-03-30
...                                                  ...        ...
22993  [mark ruffalo,  jake gyllenhaal,  robert downe... 2019-11-20
22994                                         [sin dato] 2019-07-01
22995  [jesse eisenberg,  woody harrelson,  emma ston... 2019-11-01
22996  [tim allen,  courteney cox,  chevy chase,  kat... 2020-01-11
22997  [vicky kaushal,  sarah-jane dias,  raaghav cha... 2019-03-02

       release_year rating  duration_int duration_type  \
0              2014      g           113           min
1              2018    13+           110           min
2              2017      g            74           min
3              2014      g            69           min
4              1989      g            45           min
...             ...    ...           ...           ...
22993          2007      r           158           min
22994          2018  tv-y7             2       Seasons
22995          2009      r            88           min
22996          2006     pg            88           min
22997          2015  tv-14           111           min

                                            listed_in  \
0                                       comedy, drama
1                                drama, international
2                             action, drama, suspense
3                                         documentary
4                                      drama, fantasy
...                                               ...
22993                  cult movies, dramas, thrillers
22994          kids' tv, korean tv shows, tv comedies
22995                         comedies, horror movies
22996              children & family movies, comedies
22997  dramas, international movies, music & musicals

                                             description platform
0      a small fishing village must procure a local d...   amazon
1      a metro family decides to fight a cyber crimin...   amazon
2      after a man discovers his wife is cheating on ...   amazon
3      pink breaks the mold once again, bringing her ...   amazon
4      teenage matt banting wants to work with a famo...   amazon
...                                                  ...      ...
22993  a political cartoonist, a crime reporter and a...  netflix
22994  while living alone in a spooky town, a young g...  netflix
22995  looking to survive in a world taken over by zo...  netflix
22996  dragged from civilian life, a former superhero...  netflix
22997  a scrappy but poor boy worms his way into a ty...  netflix

[22998 rows x 12 columns]>

In [26]:
# Creación de DataFrame para los actores, a fin de utilizarlo en las consultas.

# Primero inicializo un diccionario.
dix_actors = {"actor":[], 
              "año":[],
              "plataforma":[]}


# Voy recorriendo los actores y voy llevando su info (año y plataforma) al diccionario
for index, actores in enumerate(df_unico["cast"]):
    for actor in actores:
        if actor != "sin dato":           
            dix_actors["actor"].append(actor)
            dix_actors["año"].append(df_unico["release_year"][index])
            dix_actors["plataforma"].append(df_unico["platform"][index])


# Genero el dataframe en base al diccionario
df_actors = pd.DataFrame(dix_actors)


# Mirada al dataframe
df_actors.head(10)

              actor   año plataforma
0   brendan gleeson  2014     amazon
1     taylor kitsch  2014     amazon
2    gordon pinsent  2014     amazon
3  mahesh manjrekar  2018     amazon
4     abhay mahajan  2018     amazon
5   sachin khedekar  2018     amazon
6      tom sizemore  2017     amazon
7     lorenzo lamas  2017     amazon
8    robert lasardo  2017     amazon
9     richard jones  2017     amazon

In [27]:
df_actors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114392 entries, 0 to 114391
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   actor       114392 non-null  object
 1   año         114392 non-null  int64
 2   plataforma  114392 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

In [28]:
# Guardo los 2 dataframes con que trabaje en esta etapa.
df_actors.to_csv("actors.csv")
df_unico.to_csv("unico.csv")

#### Creacion de las funciones

In [ ]:
pip freeze --all

<font color='orange'>
FUNCION 1<br><br>
</font>

<font color='yellow'>
Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. <br>
La función debe llamarse get_max_duration(year, platform, duration_type).
</font>

In [82]:
# Armo la funcion considerando que los parametros son opcionales.
#def get_max_duration(year: Union[int, None] = 0, platform: Union[str, None] = None, duration_type: Union[str, None] = None):
def get_max_duration(year: int, platform: str, duration_type:str):

    if (year != 0) & (platform != None) & (duration_type != None):
        data = df_unico[(df_unico["release_year"] == year) & (df_unico["platform"] == platform) & (df_unico["duration_type"] == duration_type)]["duration_int"].max()
    elif (year == 0) & (platform != "") & (duration_type != None):
        data = df_unico[(df_unico["platform"] == platform) & (df_unico["duration_type"] == duration_type)]["duration_int"].max()
    elif (year == 0) & (platform == "") & (duration_type != None):
        data = df_unico[(df_unico["duration_type"] == duration_type)]["duration_int"].max()
        platform = "Sin especificar"
    elif (year == 0) & (platform != None) & (duration_type == None):
        data = df_unico[(df_unico["platform"] == platform)]["duration_int"].max()
        duration_type = "Sin especificar"
    else:
        data = df_unico["duration_int"].max()
        platform = "Sin especificar"
        duration_type = "Sin especificar"

    message = f"Máximo para plataforma: {platform}, para el año: {year} en tipo: {duration_type} es"
    return {message:data}

In [83]:
# Pruebo la funcion.
get_max_duration(0, "netflix", "min")

{'Máximo para plataforma: netflix, para el año: 0 en tipo: min es': 312}

<font color='orange'>
FUNCION 2<br><br>
</font>

<font color='yellow'>
Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año.<br>
La función debe llamarse get_score_count(platform, scored, year).
</font>

In [474]:
# Cargo los dataframes.
df1 = pd.read_csv("./Datasets/ratings/1.csv")
df2 = pd.read_csv("./Datasets/ratings/2.csv")
df3 = pd.read_csv("./Datasets/ratings/3.csv")
df4 = pd.read_csv("./Datasets/ratings/4.csv")
df5 = pd.read_csv("./Datasets/ratings/5.csv")
df6 = pd.read_csv("./Datasets/ratings/6.csv")
df7 = pd.read_csv("./Datasets/ratings/7.csv")
df8 = pd.read_csv("./Datasets/ratings/8.csv")


# Los reuno en uno solo.
df_concat = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], axis=0)

In [491]:
# Dejo solo un registro por pelicula, con el promedio de sus puntajes.
df_promedio = df_concat.groupby("movieId").agg({"userId": "first", "rating": "mean", "timestamp": "first"}).reset_index()

In [492]:
# Renombro la columna de "rating" para que defina mejor su contenido, y la de "movieId", esta ultima para que se llame igual que en df_unico.
df_promedio = df_promedio.rename(columns={"rating": "rating_prom", "movieId": "show_id"})

In [494]:
# Elimino las columnas "userId" y "timestamp" que  no las voy a necesitar para esta funcion.
df_promedio.drop(["userId", "timestamp"], axis=1, inplace=True)

In [495]:
# Creo un dataframe que unifique los datos de la pelicula, la plataforma, el año y el puntaje, que ahora se encuentran en 2 dataframes distintos.
df_completo = pd.merge(df_unico, df_promedio, on='show_id')

In [496]:
df_completo

,show_id,type,title,cast,date_added,release_year,rating,duration_int,duration_type,listed_in,description,platform,rating_prom
0,as1,movie,the grand seduction,"[brendan gleeson, taylor kitsch, gordon pins...",2021-03-30,2014,g,113,min,"comedy, drama",a small fishing village must procure a local d...,amazon,3.467131
1,as2,movie,take care good night,"[mahesh manjrekar, abhay mahajan, sachin khe...",2021-03-30,2018,13+,110,min,"drama, international",a metro family decides to fight a cyber crimin...,amazon,3.548682
2,as3,movie,secrets of deception,"[tom sizemore, lorenzo lamas, robert lasardo...",2021-03-30,2017,g,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,amazon,3.500000
3,as4,movie,pink: staying true,"[interviews with: pink, adele, beyoncé, bri...",2021-03-30,2014,g,69,min,documentary,"pink breaks the mold once again, bringing her ...",amazon,3.538055
4,as5,movie,monster maker,"[harry dean stanton, kieran o'brien, george ...",2021-03-30,1989,g,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...,amazon,3.478992
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,movie,zodiac,"[mark ruffalo, jake gyllenhaal, robert downe...",2019-11-20,2007,r,158,min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",netflix,3.438998
22994,ns8804,tv show,zombie dumb,[sin dato],2019-07-01,2018,tv-y7,2,Seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",netflix,3.515947
22995,ns8805,movie,zombieland,"[jesse eisenberg, woody harrelson, emma ston...",2019-11-01,2009,r,88,min,"comedies, horror movies",looking to survive in a world taken over by zo...,netflix,3.420945
22996,ns8806,movie,zoom,"[tim allen, courteney cox, chevy chase, kat...",2020-01-11,2006,pg,88,min,"children & family movies, comedies","dragged from civilian life, a former superhero...",netflix,3.588050
22997,ns8807,movie,zubaan,"[vicky kaushal, sarah-jane dias, raaghav cha...",2019-03-02,2015,tv-14,111,min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,netflix,3.529228

In [497]:
# Presento la funcion.
def get_score_count(platform:str, scored:int, year:int):
    df_filtrado = df_completo.loc[(df_completo['platform'] == platform) & (df_completo['release_year'] == year)]
    df_filtrado = df_filtrado.loc[df_filtrado['rating_prom'] > scored]
    cantidad_pelis = len(df_filtrado)
    
    message = f"Cantidad de películas en {platform}, con un puntaje mayor a {scored}, para el año {year} es"
    return {message: cantidad_pelis}

In [498]:
# Realizo una consulta.
get_score_count("amazon", 3, 2021)

{'Cantidad de películas en amazon, con un puntaje mayor a 3.6, para el año 2021 es': 117}

<font color='orange'>
FUNCION 3<br><br>
</font>

<font color='yellow'>
Cantidad de películas por plataforma con filtro de PLATAFORMA. <br>
La función debe llamarse get_count_platform(platform).
</font>

In [499]:
# Creo la funcion.
def get_count_plataform(platform:str):
    
    message = f"Cantidad de películas en {platform} es"
    return {message:df_unico[(df_unico["platform"] == platform) & (df_unico["type"] == "movie")]["type"].count().tolist(),
    f"Cantidad de series en {platform} es":df_unico[(df_unico["platform"] == platform) & (df_unico["type"] == "tv show")]["type"].count().tolist()}

In [500]:
# Realizo una consulta.
get_count_plataform('disney')

{'Cantidad de películas en disney es': 1052,
 'Cantidad de series en disney es': 398}

<font color='orange'>
FUNCION 4<br><br>
</font>

<font color='yellow'>
Actor que más se repite según plataforma y año.<br>
La función debe llamarse get_actor(platform, year).
</font>

In [501]:
# Defino la funcion.
def get_actor(plataforma:str, año:int):
    data = df_actors[(df_actors["año"] == año) & (df_actors["plataforma"] == plataforma)]["actor"]
    message = f"Actor que mas se repite en {plataforma} en el año {año}"
    return {message:data.value_counts().index[0]}

In [502]:
# Realizo una consulta.
# Considerar que la plataforma "Hulu" no disponia de datos en su base de actores.
get_actor('amazon', 2018)

{'Actor que mas se repite en amazon en el año 2018': 'maggie binkley'}

In [503]:
# Guardo el archivo unificado de los puntajes.
df_completo.to_csv("completo.csv")

##### Voy a la Terminal y ejecuto: <br>
##### $ pip freeze                        ----> Check all installed Python packages with pip list/freeze <br>
##### $ pip freeze > requirements.txt     ----> Output requirements.txt to a file in order to use it in another environment <br>
##### Copy or move the requirements.txt to another environment and install with it. <br>
##### $ pip install -r requirements.txt <br>
#####

### Paso a confeccionar el archivo "main.py" para la conexion con FastApi